mixin breadcrumbs(item, href, text)
    .breadcrumbs
        .container
            ul.breadcrumbs__list
                each item in breadcrums
                    li.breadcrumbs__item
                        .breadcrumbs__link
                            a(href=`${item.href}`).breadcrumbs__url= `${item.text}`

-
    var breadcrums = [
    {
        href: '#',
        text: 'Home'
    },{
        href: '#',
        text: 'New Files'
    }
    ];

mixin breadcrumbs-second(item)
    .breadcrumbs
        .container
            ul.breadcrumbs__list
                each item in breadcrumsSeconds
                    li.breadcrumbs__item
                        .breadcrumbs__link
                            a(href=`${item.href}`).breadcrumbs__url= `${item.text}`

-
    var breadcrumsSeconds = [
    {
    href: '#',
    text: 'Home'
    },{
    href: '#',
    text: 'Vendor page'
    }
    ];

mixin breadcrumbs-third(item)
    .breadcrumbs
        .container
            ul.breadcrumbs__list
                each item in breadcrumsThird
                    li.breadcrumbs__item
                        .breadcrumbs__link
                            a(href=`${item.href}`).breadcrumbs__url= `${item.text}`

-
    var breadcrumsThird = [
    {
    href: '#',
    text: 'Home'
    },{
    href: '#',
    text: 'All providers'
    }
    ];

mixin breadcrumbs-fifth(item)
    .breadcrumbs
        .container
            ul.breadcrumbs__list
                each item in breadcrumsFifth
                    li.breadcrumbs__item
                        .breadcrumbs__link
                            a(href=`${item.href}`).breadcrumbs__url= `${item.text}`

-
    var breadcrumsFifth = [
    {
    href: '#',
    text: 'Home'
    },{
    href: '#',
    text: 'Cart'
    }
    ];

mixin breadcrumbs-sixth(item)
    .breadcrumbs
        .container
            ul.breadcrumbs__list
                each item in breadcrumsSixth
                    li.breadcrumbs__item
                        .breadcrumbs__link
                            a(href=`${item.href}`).breadcrumbs__url= `${item.text}`

-
    var breadcrumsSixth = [
    {
    href: '#',
    text: 'Home'
    },{
    href: '#',
    text: 'Microsoft Certifications'
    },{
    href: '#',
    text: '70-743'
    }
    ];

mixin breadcrumbs-seventh(item)
    .breadcrumbs
        .container
            ul.breadcrumbs__list
                each item in breadcrumsSeventh
                    li.breadcrumbs__item
                        .breadcrumbs__link
                            a(href=`${item.href}`).breadcrumbs__url= `${item.text}`

-
    var breadcrumsSeventh = [
    {
    href: '#',
    text: 'Home'
    },{
    href: '#',
    text: 'New Files'
    }
    ];

mixin breadcrumbs-eights(item)
    .breadcrumbs
        .container
            ul.breadcrumbs__list
                each item in breadcrumsEights
                    li.breadcrumbs__item
                        .breadcrumbs__link
                            a(href=`${item.href}`).breadcrumbs__url= `${item.text}`

-
    var breadcrumsEights = [
    {
    href: '#',
    text: 'Home'
    },{
    href: '#',
    text: 'Microsoft Certifications'
    },{
    href: '#',
    text: 'Microsoft MCSE'
    },{
    href: '#',
    text: '70-743'
    }
    ];

mixin breadcrumbs-ninth(item)
    .breadcrumbs
        .container
            ul.breadcrumbs__list
                each item in breadcrumsNinth
                    li.breadcrumbs__item
                        .breadcrumbs__link
                            a(href=`${item.href}`).breadcrumbs__url= `${item.text}`

-
    var breadcrumsNinth = [
    {
    href: '#',
    text: 'Home'
    },{
    href: '#',
    text: 'Training Course'
    }
    ];

mixin breadcrumbs-ten(item)
    .breadcrumbs
        .container
            ul.breadcrumbs__list
                each item in breadcrumsTenth
                    li.breadcrumbs__item
                        .breadcrumbs__link
                            a(href=`${item.href}`).breadcrumbs__url= `${item.text}`

-
    var breadcrumsTenth = [
    {
    href: '#',
    text: 'Home'
    },{
    href: '#',
    text: 'My Account'
    },{
    href: '#',
    text: 'My Products'
    }
    ];
    
mixin breadcrumbs-twelve(item)
    .breadcrumbs
        .container
            ul.breadcrumbs__list
                each item in breadcrumsTwelfth
                    li.breadcrumbs__item
                        .breadcrumbs__link
                            a(href=`${item.href}`).breadcrumbs__url= `${item.text}`

-
    var breadcrumsTwelfth = [
    {
    href: '#',
    text: 'Home'
    },{
    href: '#',
    text: 'Lost Password'
    }
    ];












